table th,
td {
    text-align: center;
    vertical-align: middle;
}

.dataTables_wrapper table.dataTable td,
.dataTables_wrapper table.dataTable th {
    font-size: 0.8rem;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #4b7cf3;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload label {
    cursor: pointer;
}

#addUserDetailsContainer,
#filterUserDetailsContainer {
    display: none;
}

.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mySelectOptions {
    position: fixed;
    width: 16.5rem;
    display: none;
    border: 0.5px #7c7c7c solid;
    border-radius: 0.5rem;
    background-color: #ffffff;
    max-height: 10rem;
    overflow-y: scroll;
}

#mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    /* padding: .375rem 2.25rem .375rem .75rem; */
}

#mySelectOptions label:hover {
    background-color: #1e90ff;
}

.datatable img {
    height: 5rem;
    width: 5rem;
}

table.dataTable tbody td {
    padding: 20px 20px;
    overflow-wrap: break-word;
}

table.dataTable_1 tbody td {
    padding: 20px 20px;
    overflow-wrap: break-word;
}

table.dataTable_2 tbody td {
    padding: 20px 20px;
    overflow-wrap: break-word;
}

table.dataTable_3 tbody td {
    padding: 20px 20px;
    overflow-wrap: break-word;
}

#enlargedImageModal img {
    height: 100%;
    width: 100%;
}

.img-thumbnail {
    width: 10rem;
    object-fit: contain;
}

/* CSS for service icons in service page */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    border-top: 6px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.custom-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select-wrapper .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.custom-select-wrapper .dropdown-menu .dropdown-item {
    cursor: pointer;
}

/* Multiselect CSS */
.chosen-container {
    width: 100% !important;
}

.chosen-container .chosen-drop {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.chosen-container .chosen-search input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

.chosen-container .chosen-results {
    max-height: 200px;
    overflow-y: auto;
}

.chosen-container .chosen-choices {
    padding: 0.29rem;
    border-radius: 0.3rem;
}

#userTable th,
#userTable td {
    text-align: left;
    vertical-align: middle;
}